@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/opensans/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --body-color: #ffffff;
    --btn-color: #6A983C;
    --titles-color:#151515;
    --description-color:#575757;
    --unique-color:#A9A9A9;
    --heading-fonts-stack: "Poppins", "Arial", sans-serif;
    --body-fonts-stack: "Open Sans", "Arial", sans-serif;
}
/* General */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:var(--body-fonts-stack);
    font-display: swap;
    font-size: 12px;
    line-height: 1.3;
    color: var(--titles-color);
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: var(--heading-fonts-stack);
}
h2 {
    font-size: 22px;
    line-height: 150%;
}
.active-link{
    text-decoration: none;
    color: var(--btn-color);
}
.active-link:hover{
    color: var(--titles-color);
}

/* Container */
.container {
    max-width: 1210px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Site Header */
.site-nav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(21, 21, 21, 15%);
    margin-bottom: 40px;
}
.nav-info__list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;
}
.nav-info__item{
    text-decoration: none;
    color: var(--titles-color);
}
.nav-info__item:not(:last-child){
    margin-right: 33px;
}
.nav-page__list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-page__item:not(:last-child){
    margin-right: 38px;
}
.nav-black{
    text-decoration: none;
    color: var(--titles-color);
}
.nav-black:hover{
    color: var(--btn-color);
}