@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/opensans/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --body-color: #ffffff;
    --btn-color: #6A983C;
    --titles-color:#151515;
    --description-color:#575757;
    --unique-color:#A9A9A9;
    --heading-fonts-stack: "Poppins", "Arial", sans-serif;
    --body-fonts-stack: "Open Sans", "Arial", sans-serif;
}
/* General */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:var(--body-fonts-stack);
    font-display: swap;
    font-size: 12px;
    line-height: 1.3;
    color: var(--titles-color);
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: var(--heading-fonts-stack);
}
h2 {
    font-size: 22px;
    line-height: 150%;
}
.active-link{
    text-decoration: none;
    color: var(--btn-color);
}
.active-link:hover{
    color: var(--titles-color);
}

/* Container */
.container {
    max-width: 1210px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Site Header */
.site-nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(21, 21, 21, 15%);
}
.nav-info__list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;
}
.nav-info__item{
    text-decoration: none;
    color: var(--titles-color);
}
.nav-info__item:not(:last-child){
    margin-right: 33px;
}
.nav-page__list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-page__item:not(:last-child){
    margin-right: 38px;
}
.nav-black{
    text-decoration: none;
    color: var(--titles-color);
}
.nav-black:hover{
    color: var(--btn-color);
}
/* Search section */
.search-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 50px;
}
.site-logo:hover{
    opacity: 0.8;
}
.site-logo:active{
    opacity: 0.5;
}
.search-select{
    font-size: 15px;
    line-height: 22px;
    font-family: var(--heading-fonts-stack);
    font-weight: bold;
    background-color: inherit;
    border: none;
    outline: none;
    margin-right: 30px;
}
.search-wrapper{
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 10px 16px;
}
.search-form{
    display: flex;
    align-items: center;
}
.search-form input[type="search"]{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #A9A9A9;
    width: 262px;
    border: none;
    border-left: 1px solid #D1D1D1;
    outline: none;
    padding-left: 24px;
    background-color: inherit;
}
.search-btn{
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.search-images-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.search-images-list:hover{
    opacity: 0.8;
}
.search-images-list:active{
    opacity: 0.5;
}
.search-images__item a{
    display: block;
}
.search-images__item:not(:last-child){
    margin-right: 40px;
}

/* Choose section */
.choose-section{
    background: #F9F9F9;
    font-family: var(--heading-fonts-stack);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.choose-section__list{
    display: flex;
    padding: 16px 0;
    list-style-type: none;
    margin: 0;
    flex-wrap: wrap;
}
.choose-section__item a{
    display: block;
    text-decoration: none;
    color: var(--titles-color);
}
.hover-list{
    display: none;
    position: absolute;
    list-style-type: none;
    background: #A9A9A9;
    padding: 20px;
    top: 0;
    transform: translate(-10px, 20px);
}
.hover-item a:hover{
    color: var(--btn-color);
}
.hover-item a{
    text-decoration: none;
    color: var(--titles-color);
}
.choose-section__item{
    display: flex;
    align-items: center;
    position: relative;
}
.choose-section__item:not(:last-child){
    margin-right: 45px;
}
.choose-section__item:hover::after{
    transform: rotate(270deg);
}
.choose-section__item:hover .hover-list{
    display: block;
}
.choose-section__item::after{
    content: "";
    background: url(/images/header/down.png) no-repeat;
    width: 12px;
    height: 6px;
    margin-left: 5px;
    cursor: pointer;
}

/*SITE-FOOTER */
.footer__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.footer__item{
    margin-bottom: 48px;
}
.footer__item:not(:last-child){
    margin-right: 70px;
}
.footer__item--title{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.footer__links--list{
    padding-left: 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 19px;
}
.footer__links--item:not(:last-child){
    margin-bottom: 16px;
}
.footer__links--item a{
    text-decoration: none;
    color: var(--btn-color);
}
.footer__links--item a:hover{
    color: var(--titles-color);
}

.footer__tags--list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.footer__tags--title{
    margin-bottom: 16px;
}
.footer__tags--item{
    margin-right: 16px;
    margin-bottom: 8px;
}
.footer__tags--item a{
    padding: 4px 10px;
    background-color: #F5F5F5;
    border-radius: 12px;
    display: inline-block;
    text-decoration: none;
    color: var(--titles-color);
}
.footer__tags--item a:hover{
    color: var(--btn-color);
}
.copyright{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

/* RECEPIES SECTION */
.same-section{
    padding: 64px 0;
}
.section__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recepies__item:not(:last-child){
    margin-right: 30px;
}
.recepies__item--title{
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.category__side{
    width: 270px;
}
.left-links__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 48px;
}
.left-links__item:not(:last-child){
    margin-bottom: 12px;
}
.left-links__item a{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--btn-color);
    text-decoration: underline;
}
.more-link{
    width: 180px;
    font-family: var(--heading-fonts-stack);
    color: var(--titles-color);
    padding: 13px 16px;
    background-color: #F5F5F5;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.more-link::after{
    content: "";
    background: url(/images/card/arrow.svg) no-repeat;
    width: 12px;
    height: 12px;
    margin-left: 12px;
}
.recepies__card--images{
    width: 420px;
    height: 280px;
    font-family: var(--heading-fonts-stack);
    padding: 50px 35px;
    background: url(/images/card/cardimg.png) no-repeat;
}
.recepies__card--wrapper{
    margin-bottom: 100px;
}
.span__banner{
    color: var(--btn-color);
    font-weight: 600;
    line-height: 18px;
}
.recepies__card--title{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.recepies__more{
    width: 165px;
    padding: 12px 16px;
    border: 2px solid var(--btn-color);
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: var(--titles-color);
    white-space: nowrap;
}
.recepies__more::after{
    content: "";
    background: url(/images/card/arrow-right.svg) no-repeat;
    width: 8px;
    height: 8px;
    margin-left: 12px;
}


/* BEST PRODUCTS SECTION */
.best-product__card{
    padding: 16px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}
.best-products__item:not(:last-child){
    margin-right: 30px;
}
.product__card--image{
    width: 237px;
    height: 180px;
}
.product__card--image{
    background-color: silver;
    width: 237px;
    height: 180px;
    border-radius: 12px;
    margin-bottom: 16px;
}
.card__title{
    font-family: var(--heading-fonts-stack);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.card__description{
    font-weight: normal;
    color: #575757;
}
.card__by--cost{
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.card__buy--btn{
    font-family: var(--heading-fonts-stack);
    background-color: var(--btn-color);
    padding: 7px 13px;
    border-radius: 12px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
}
.card__buy--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width:576px) and (max-width:768px){
    .container{
        max-width: 728px;
    }
    .nav-info__item:not(:last-child){
        margin-right: 20px;
    }
    .nav-page__item:not(:last-child){
        margin-right: 20px;
    }
    .search-section{
        flex-direction: column;
    }
    .site-logo__link{
        margin-bottom: 40px;
    }
    .search-wrapper{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width:575px){
    .container{
        max-width: 535px;
    }
    .site-nav{
        display: flex;
        position: fixed;
        top: 5%;
        z-index: 15;
    }
    .search-section{
        justify-content: center;
        flex-direction: column;
    }
    .search-form{
        display: block;
    }
    
    .site-logo__link{
        position: fixed;
        top: 40px;
    }
    .search-select{
        margin-right: 0;
    }
    .search-wrapper{
        margin-top: 70px;
        margin-bottom: 20px;
    }
    .search-images-list{
        padding: 0;
        margin: 0;
    }
    .nav-page__list{
        position: absolute;
        top: 0;
        margin-top: 430px;
        display: flex;
        flex-direction: column;
        left: 10px;
        display: none;
        z-index: 99;
        transition: top 1s ease;
        transition: 0.3s;
    }
    .choose-section__list{
        position: fixed;
        flex-direction: column;
        display: none;
        z-index: 99;
        margin-left: 20px;
    }
    .search-btn{
        position: absolute;
        position: fixed;
        top: 40px;
        right: 40px;
        padding: 0;
    }
    .search-input{
        display: none;
    }
    .search-form input[type="search"]{
        width: 215px;
        padding-left: 0;
    }
    .input-block{
        display: block;
        position: absolute;
        top: 10px;
        right: 400px;
        transform: translateX(400px);
        transition: 0.3s;
    }
    
    .choose-section__item{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .choose-section__item:not(:last-child){
        margin-bottom: 10px;
        margin-right: 0;
    }
    .choose-section__item a{
        white-space: nowrap;
    }
    
    .nav-page__item a{
        white-space: nowrap;
    }
    .nav-info__list{
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-right: auto;
        border-bottom: none;
        margin-top: 430px;
        margin-left: 301px;
        transition: top 1s ease;
        transition: 0.3s;
    }
    .open{
        display: block;
    }
    .choose-section__list{
        display: block;
        position: absolute;
        height: 90vh;
        margin-top: 15vh;
        position: fixed;
        padding-left: 32px;
        padding-top: 64px;
        top: 0;
        left: -20px;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
        transform: translateX(-300px);
        transition: 0.3s;
    }
    .burger-btn {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0;
        right: 50%;
        width: 35px;
        height: 35px;
        margin-top: 0;
        margin-left: 0;
        left: 0;
        color: var(--btn-color);
    }
    .burger-btn .lines {
        display: block;
        width: 100%;
        height: 4px;
        background: var(--btn-color);
        position: relative;
        top: 50%;
        transition: transform 0.5s cubic-bezier(0, 0, 1, 1), background 0.5s ease;
        margin-top: -2px;
    }
    .burger-btn .lines:after,
    .burger-btn .lines:before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--btn-color);
        -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .burger-btn .lines:after {
        bottom: -10px;
    }
    .burger-btn .lines:before {
        top: -10px;
    }
    .burger-btn.active .lines {
        background: transparent;
        transform: rotate(90deg);
    }
    .burger-btn.active .lines:after {
        top: 0;
        transform: rotate(-135deg);
    }
    .burger-btn.active .lines:before {
        top: 0;
        transform: rotate(135deg);
    }
    .active{
        transform: translateX(0px);
        background: rgb(104, 229, 238);
    }
    
}