@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/opensans/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --body-color: #ffffff;
    --btn-color: #6A983C;
    --titles-color:#151515;
    --description-color:#575757;
    --unique-color:#A9A9A9;
    --color-gold: #ffc41f;
    --color-gold-light: #ffd560;
    --heading-fonts-stack: "Poppins", "Arial", sans-serif;
    --body-fonts-stack: "Open Sans", "Arial", sans-serif;
}
/* General */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:var(--body-fonts-stack);
    font-display: swap;
    font-size: 12px;
    line-height: 1.3;
    color: var(--titles-color);
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family: var(--heading-fonts-stack);
}
h2 {
    font-size: 22px;
    line-height: 150%;
}
.active-link{
    text-decoration: none;
    color: var(--btn-color);
}
.active-link:hover{
    color: var(--titles-color);
}

/* Container */
.container {
    max-width: 1210px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Site Header */
.site-nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(21, 21, 21, 15%);
}
.nav-info__list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: auto;
}
.nav-info__item{
    text-decoration: none;
    color: var(--titles-color);
}
.nav-info__item:not(:last-child){
    margin-right: 33px;
}
.nav-page__list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav-page__item:not(:last-child){
    margin-right: 38px;
}
.nav-black{
    text-decoration: none;
    color: var(--titles-color);
}
.nav-black:hover{
    color: var(--btn-color);
}
/* Search section */
.search-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 50px;
}
.site-logo:hover{
    opacity: 0.8;
}
.site-logo:active{
    opacity: 0.5;
}
.search-select{
    font-size: 15px;
    line-height: 22px;
    font-family: var(--heading-fonts-stack);
    font-weight: bold;
    background-color: inherit;
    border: none;
    outline: none;
    margin-right: 30px;
}
.search-wrapper{
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 10px 16px;
}
.search-form{
    display: flex;
    align-items: center;
}
.search-form input[type="search"]{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #A9A9A9;
    width: 262px;
    border: none;
    border-left: 1px solid #D1D1D1;
    outline: none;
    padding-left: 24px;
    background-color: inherit;
}
.search-btn{
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.search-images-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.search-images-list:hover{
    opacity: 0.8;
}
.search-images-list:active{
    opacity: 0.5;
}
.search-images__item a{
    display: block;
}
.search-images__item:not(:last-child){
    margin-right: 40px;
}

/* Choose section */
.choose-section{
    background: #F9F9F9;
    font-family: var(--heading-fonts-stack);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.choose-section__list{
    display: flex;
    padding: 16px 0;
    list-style-type: none;
    margin: 0;
    flex-wrap: wrap;
}
.choose-section__item a{
    display: block;
    text-decoration: none;
    color: var(--titles-color);
}
.hover-list{
    display: none;
    position: absolute;
    list-style-type: none;
    background: #A9A9A9;
    padding: 20px;
    top: 0;
    transform: translate(-10px, 20px);
}
.hover-item a:hover{
    color: var(--btn-color);
}
.hover-item a{
    text-decoration: none;
    color: var(--titles-color);
}
.choose-section__item{
    display: flex;
    align-items: center;
    position: relative;
}
.choose-section__item:not(:last-child){
    margin-right: 45px;
}
.choose-section__item:hover::after{
    transform: rotate(270deg);
}
.choose-section__item:hover .hover-list{
    display: block;
}
.choose-section__item::after{
    content: "";
    background: url(/images/header/down.png) no-repeat;
    width: 12px;
    height: 6px;
    margin-left: 5px;
    cursor: pointer;
}

/*SITE-FOOTER */
.site__footer{
    padding-top: 64px;
    padding-bottom: 64px;
}
.footer__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.footer__item{
    margin-bottom: 48px;
}
.footer__item:not(:last-child){
    margin-right: 70px;
}
.footer__item--title{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.footer__links--list{
    padding-left: 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 19px;
}
.footer__links--item:not(:last-child){
    margin-bottom: 16px;
}
.footer__links--item a{
    text-decoration: none;
    color: var(--btn-color);
}
.footer__links--item a:hover{
    color: var(--titles-color);
}

.footer__tags--list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.footer__tags--title{
    margin-bottom: 16px;
}
.footer__tags--item{
    margin-right: 16px;
    margin-bottom: 8px;
}
.footer__tags--item a{
    padding: 4px 10px;
    background-color: #F5F5F5;
    border-radius: 12px;
    display: inline-block;
    text-decoration: none;
    color: var(--titles-color);
}
.footer__tags--item a:hover{
    color: var(--btn-color);
}
.copyright{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

/* RECEPIES SECTION */
.section__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recepies__item:not(:last-child){
    margin-right: 30px;
}
.recepies__item--title{
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.category__side{
    width: 270px;
}
.left-links__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 48px;
}
.left-links__item:not(:last-child){
    margin-bottom: 12px;
}
.left-links__item a{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--btn-color);
    text-decoration: underline;
}
.more-link{
    width: 180px;
    font-family: var(--heading-fonts-stack);
    color: var(--titles-color);
    padding: 13px 16px;
    background-color: #F5F5F5;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.more-link::after{
    content: "";
    background: url(/images/card/arrow.svg) no-repeat;
    width: 12px;
    height: 12px;
    margin-left: 12px;
}
.recepies__card--images{
    width: 420px;
    height: 280px;
    font-family: var(--heading-fonts-stack);
    padding: 50px 35px;
    background: url(/images/card/cardimg.png) no-repeat;
}
.recepies__card--wrapper{
    margin-bottom: 100px;
}
.span__banner{
    color: var(--btn-color);
    font-weight: 600;
    line-height: 18px;
}
.recepies__card--title{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.recepies__more{
    width: 165px;
    padding: 12px 16px;
    border: 2px solid var(--btn-color);
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: var(--titles-color);
    white-space: nowrap;
}
.recepies__more::after{
    content: "";
    background: url(/images/card/arrow-right.svg) no-repeat;
    width: 8px;
    height: 8px;
    margin-left: 12px;
}


/* BEST PRODUCTS SECTION */
.best-product__card{
    padding: 16px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}
.best-products__item:not(:last-child){
    margin-right: 28px;
}
.product__card--image{
    width: 237px;
    height: 180px;
}
.product__card--image{
    background-color: #F9F9F9;
    width: 237px;
    height: 180px;
    border-radius: 12px;
    margin-bottom: 16px;
}
.card__title{
    font-family: var(--heading-fonts-stack);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.card__description{
    font-weight: normal;
    color: #575757;
}
.card__by--cost{
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.discount__wrapper{
    display: flex;
    flex-direction: column;
}
.card__discount{
    margin: 0;
    font-weight: 600;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #A9A9A9;
}
.card__buy--btn{
    font-family: var(--heading-fonts-stack);
    background-color: var(--btn-color);
    padding: 7px 13px;
    border-radius: 12px;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
}
.card__buy--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CUSTOMERS SECTION */
.same-section{
    font-family: var(--heading-fonts-stack);
    padding: 64px 0;
}
.section__header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.section__header--title{
    margin: 0;
}
.section__header--btn{
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    background: #fff;
    white-space: nowrap;
}
.btn__arrow--img{
    margin-left: 12px;
}
.customers__carousel--list{
    display: flex;
    justify-content: space-between;
    max-width: 1324px;
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.customers__carousel--item{
    max-width: 370px;
    display: flex;
    flex-direction: column;
    padding: 25px 33px;
    border: 1px solid #F1F1F1;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    margin-right: 32px;
}
.customers__item--title{
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.customers__carousel--info{
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #A9A9A9;
}
.customers__carousel--img{
    display: block;
    margin: 0 auto;
    margin-top: 16px;
}
.headline__list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* BLOG SORT */
.blog-sorts{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.blog-sorts__link{
    display: block;
}
.dinner__wrapper{
    margin-right: 32px;
}
.dinner-tips__wrapper{
    max-width: 380px;
    position: absolute;
    padding: 24px;
    left: 0;
    top: 0;
}
.dinner-tips__tag{
    display: inline-block;
    color: var(--btn-color);
    padding: 8px;
    background-color: #fff;
    border-radius: 12px;
    text-decoration: none;
    margin-bottom: 176px;
}
.dinner-tips__tag:hover{
    color: var(--titles-color);
}
.dinner-tips__title{
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}
.dinner-tips__title a{
    text-decoration: none;
    color: #fff;
}
.dinner-tips__title a:hover{
    text-decoration: underline;
}
.blog-sorts__link img{
    border-radius: 12px;
}
.blog-sorts__author{
    margin-right: 16px;
}

.blog-sorts__description{
    color: #fff;
    display: flex;
    align-items: center;
}
.blog-sorts__description::before{
    content: "";
    background: url(/images/blog/author.png) no-repeat;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-right: 8px;
}

.column-sorts{
    max-width: 269px;
    margin-right: 30px;
}
.column-sorts__image{
    display: inline-block;
    margin-bottom: 24px;
}
.column__description{
    color: var(--titles-color);
}
.vagetables__tag{
    display: inline-block;
    color: var(--btn-color);
    padding: 8px;
    background-color: #F4F8EC;
    border-radius: 12px;
    text-decoration: none;
    margin-bottom: 8px;
}
.vagetables__tag:hover{
    color: var(--titles-color);
}
.column__description::before{
    content: "";
    display: none;
}
.grid__list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.grid__item{
    display: flex;
    align-items: center;
}

.grid__description::before{
    content: "";
    display: none;
}
.grid-sorts__wrapper{
    max-width: 249px;
    margin-right: 24px;
}
.grid-sorts__title a{
    text-decoration: none;
    color: #151515;
    font-family: var(--heading-fonts-stack);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}
.grid-sorts__title a:hover{
    text-decoration: underline;
}
.grid__description{
    color: var(--titles-color);
}


/* FRUIT */
.page__links--list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 15px 0;
}
.page__items a{
    text-decoration: none;
    line-height: 16px;
    font-weight: normal;
}
.page__links--active{
    color: var(--unique-color);
    
}
.page__links--active::after{
    content:"/";
    margin-left: 8px;
}
.page__new--page{
    color: var(--titles-color);
}
.view-sorts{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}
.view__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.view__btn{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.view__btn--img{
    margin-right: 8px;
}
.view__products--number{
    font-family: var(--heading-fonts-stack);
    padding: 0 8px;
    background-color: #F4F8EC;
    color: var(--btn-color);
    border-radius: 12px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
.view__products{
    text-decoration: none;
    color: var(--titles-color);
    opacity: 0.5;
}


.view__form{
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.view__form input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.check-filtre{
    display: flex;
    align-items: center;
}
.filtre-text__wrapper{
    display: flex;
    align-items: center;
    padding: 12px 10px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    margin-right: 15px;
}
.filtre-text__wrapper label{
    display: flex;
    align-items: center;
}
.filtre-text__wrapper label:not(:last-child){
    margin-right: 10px;
}
.filtre-text__wrapper input{
    margin-right: 10px;
}
.check-filter__wrapper{
    display: flex;
    align-items: center;
    padding: 12px 18px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    margin-right: 15px;
}
.check-nbm{
    padding: 2px;
    background-color: #F9F9F9;
    border: 1px solid #EBEBEB;
    border-radius: 12px;
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
    line-height: 18px;
}
.check-filter__wrapper--select{
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
    line-height: 18px;
    border: none;
    outline: none;
    border-left: 1px solid #D1D1D1;
    background-color: inherit;
    padding-left: 10px;
}
.check-filtre__third{
    padding-right: 20px;
}

.selected-filtres__list{
    display: flex;
    align-items: center;
    padding: 16px 0;
    margin: 0;
}
.selected-filtres__items:not(:first-child){
    color: var(--btn-color);
    background: #F4F8EC;
    border-radius: 15px;
    padding: 5px;
}
.selected-filtres__items:not(:last-child){
    margin-right: 15px;
}
.selected-filtres--para{
    margin: 0;
}
.selected-filtres__items{
    display: flex;
    align-items: center;
}
.exit__button{
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
}


/* VAGETABLES MAIN */
.left__name{
    margin-bottom: 48px;
}
.vagetables-main{
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
}
.left-section{
    max-width: 270px;
    margin-right: 32px;
}
.left__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.left__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categories__item--number{
    color: var(--btn-color);
    padding: 5px;
    border-radius: 12px;
    line-height: 18px;
    background-color: #F4F8EC;
}
.categories__item--title{
    margin-right: 130px;
}
.brand__item input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.brand__item label{
    display: flex;
    align-items: center;
}
.brand__item:not(:last-child){
    margin-bottom: 20px;
}


/* Star rating */
.rating__form{
    display: flex;
    flex-direction: column;
}
.rating__form label{
    display: flex;
    align-items: center;
}
.rating__form label:not(:last-child){
    margin-bottom: 10px;
}
.rating__form label::after{
    content: "";
    background: url(/images/fruit/rating/five.png) no-repeat;
    width: 88px;
    height: 16px;
    display: block;
    margin-left: 30px;
}
.rating__form .four-star::after{
    background: url(/images/fruit/rating/four.png) no-repeat;
}
.rating__form .three-star::after{
    background: url(/images/fruit/rating/three.png) no-repeat;
}
.rating__form .two-star::after{
    background: url(/images/fruit/rating/two.png) no-repeat;
}
.rating__form .one-star::after{
    background: url(/images/fruit/rating/one.png) no-repeat;
}



.products__info{
    padding: 24px;
}
.products__listview--list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.products__listview--item{
    display: flex;
    justify-content: space-between;
    border: 1px solid #D1D1D1;
    border-radius:  12px;
}
.products__listview--item:not(:last-child){
    margin-bottom: 32px;
}
.products__description{
    display: flex;
}
.products__image{
    width: 268px;
    background-color: #F9F9F9;
    border-radius: 12px;
}
.products__cost--wrapper{
    margin-bottom: 18px;
}
.products__real-cost{
    font-weight: var(--heading-fonts-stack);
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
}
.shipping{
    margin: 0;
    font-weight: 600;
    font-family: var(--heading-fonts-stack);
    line-height: 18px;
}
.products__origin--list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}
.products__origin--item{
    margin-right: 120px;
}
.products__rate{
    margin-right: 130px;
}

.origin-info__side{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--unique-color);
}
.origin-info__side--item{
    display: flex;
}
.origin-sort{
    margin-right: 32px;
}
.products__like--item{
    align-self: flex-end;
}
.products__discount{
    color:var(--unique-color);
}
.products-arrive{
    color: var(--unique-color);
}
.delivery__deadline{
    font-weight: normal;
}
.product-detail__btn{
    background-color: var(--btn-color);
    color: #fff;
}
.product-detail__btn::after{
    background: url(/images/fruit/product/white-arrow.png) no-repeat;
    width: 16px;
    height: 16px;
}
.wish-list{
    font-family: var(--heading-fonts-stack);
    text-align: center;
    padding: 6px 12px;
    background-color: #F5F5F5;
    border-radius:12px;
    font-weight: bold;
    line-height: 22px;
    font-size: 15px;
}
.like-span{
    margin-right: 10px;
}

.products-page{
    padding-top: 16px;
    padding-bottom: 16px;
}
.products-page__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products-page__item {
    display: flex;
    align-items: center;
}
.products-page__item p{
    line-height: 16px;
    color: var(--unique-color);
    font-weight: normal;
}
.more-products{
    font-family: var(--heading-fonts-stack);
    padding: 12px 16px;
    background-color: var(--btn-color);
    border: 2px solid #46760A;
    border-radius:  12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
}
.more-products::after{
    content: "";
    background: url(/images/fruit/product/down-icon.png) no-repeat;
    width: 16px;
    height: 16px;
    margin-left: 10px;
}
.products-number{
    color: var(--btn-color);
    padding: 5px;
    border-radius: 12px;
    line-height: 18px;
    background-color: #F4F8EC;
    margin-right: 8px;
}
.page-counter{
    margin: 0;
    margin-right: 8px;
}
.page-number:not(:last-child){
    margin-right: 8px;
}
.page-number__active{
    color: var(--btn-color);
}


.range-slide {
    position: relative;
    margin-top: 20px;
    height: 4px;
    width: 251px;
}

.slide {
    position: absolute;
    top: 0;
    height: 6px;
    background: #ccc;
    left: 9px;
    right: 9px;
    border-radius: 10px;
}

.line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 6px;
    background-color: #6A983C;
}

.thumb {
    position: absolute;
    z-index: 2;
    text-align: left;
    border: 1px solid #777;
    background-color: white;
    border-radius: 50%;
    outline: none;
    top: -7px;
    height: 20px;
    width: 20px;
    margin-left: -9px;
}

.range-slide input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    height: 3px;
    top: 0;
    width: 100%;
    opacity: 0;
    margin: 0;
}

.range-slide input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.display {
    margin-top: 20px;
    width: 240px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

#min, #max {
    width: 109px;
    height: 42px;
    background-color: #F5F5F5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #777;
    font-weight: 400;
    color: #a9a9a9;
}

.min, .max {
    font-weight: bold;
}

.btn-apply {
    border: 2px solid #2e5507;
    background-color: #6A983C;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 16px;
}

.btn-reset {
    border: none;
    background: none;
    color: #A9A9A9;
    font-weight: bold;
    margin-left: 30px;
}

.vagetables-main__grid{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.product__card--image a{
    text-decoration: none;
}
.top-discount{
    padding: 0 8px;
    border-radius: 12px;
    background-color: #F4F8EC;
    border: none;
    font-weight: 600;
    color: var(--btn-color);
}
.main-grid__item:not(:last-child){
    margin-right: 24px;
}
.main-grid__item{
    margin-bottom: 48px;
}
.card-discount__cost{
    display: flex;
    flex-direction: column;
}


/* CARROTS PAGE */
.carrots{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.carrots__text{
    max-width: 569px;
}
.carrots__stars{
    display: flex;
}
.comment-stars {
    display: flex;
    flex-direction: row-reverse;
}

.comment-stars-input {
    display: none;
}

.comment-stars-input:checked ~ .comment-stars-view svg {
    fill: var(--color-gold);
}

.comment-stars-input:checked ~ .comment-stars-view:hover svg,
.comment-stars-input:checked
~ .comment-stars-view:hover
~ .comment-stars-view
svg {
    fill: var(--color-gold-light);
}

.comment-stars-view {
    cursor: pointer;
}

.comment-stars-view svg {
    fill: #ededef;
    width: 1.39306640625em;
    height: 1.5em;
}

.comment-stars-view.is-half {
    transform: translateX(100%);
    margin-left: -0.69580078125em;
}

.comment-stars-view.is-half svg {
    width: 0.69580078125em;
}

.comment-stars-view:hover svg,
.comment-stars-view:hover ~ .comment-stars-view svg {
    fill: var(--color-gold-light);
}
.carrots__view--number{
    color: var(--unique-color);
    margin-left: 10px;
}
.carrots-farm__text{
    font-family: var(--heading-fonts-stack);
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 40px;
}


.carrots_description{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.carrots__image--item{
    width: 550px;
    height: 436px;
    background-color:#F9F9F9;
    border-radius:12px;
}
.carrots__image--item:not(:last-child){
    margin-bottom: 32px;
}
.carrots__description--item{
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.carrots__question--sort{
    margin-top: 0;
    color: var(--unique-color);
}
.carrots__description--answer{
    color: var(--titles-color);
    display: flex;
    flex-direction: column;
}
.carrots__description--question{
    margin-right: 40px;
}
.carrots__answer--item{
    font-family: var(--heading-fonts-stack);
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.carrots__answer--item:not(:last-child){
    margin-bottom: 14px;
}



.purchase__list{
    padding: 16px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid #F5F5F5;
    border-radius: 12px;
    margin-bottom: 24px;
}
.purchase__origin--cost{
    margin: 0;
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: var(--btn-color);
    margin-right: 90px;
}
.purchase__form{
    padding: 16px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius:12px;
    white-space: nowrap;
}
.usernumber{
    width: 40px;
    border: none;
    border-right: 1px solid #D1D1D1;
    background-color: transparent;
    outline: none;
}
.cost-select{
    font-family: var(--heading-fonts-stack);
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
}
.purchase__add--btn{
    font-family: var(--heading-fonts-stack);
    color: #fff;
    padding: 12px 16px;
    background-color: var(--btn-color);
    border-radius:12px;
    border: 2px solid #46760A;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
    white-space: nowrap;
}

.purchase__wish{
    display: flex;
    font-family: var(--heading-fonts-stack);
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 62px;
}
.purchase__wish-list{
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border: none;
    background-color: #fff;
}
.purchase__wish-list img{
    margin-right: 10px;
}
.purchase__compare{
    display: flex;
    align-items: center;
    padding: 6px 12px;
}
.purchase__compare::before{
    content:"";
    background: url(/images/fruit/product/compare.png) no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.carrots__instructions{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.instructions__choice{
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
}
.instructions__item{
    display: flex;
    align-items: center;
    position: relative;
}
.instructions__message{
    padding: 0 8px;
    background-color:#F4F8EC;
    border-radius:12px;
    margin-left: 8px;
}
.green-line::after{
    content:"";
    position: absolute;
    top: 60px;
    left: 0;
    width: 170px;
    height: 2px;
    background-color: var(--btn-color);
}
.carrots__comments h3{
    font-size: 15px;
    line-height: 22px;
}
.carrots__comments p{
    font-size: 14px;
    line-height: 19px;
}
.carrots__table{
    display: flex;
    flex-wrap: wrap;
}
.carrots__table tr{
    display: flex;
    justify-content: space-between;
}
.carrots__table td{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color:#575757;
}
.carrots__table tbody{
    flex-grow: 1;
}
.carrots__table--line{
    position: relative;
}
.carrots__table--titles th{
    margin-bottom: 35px;
}
.carrots__table--line::after{
    content:"";
    position: absolute;
    width: 570px;
    top: 25px;
    height: 2px;
    background-color: black;
    opacity: 0.2;
}
.carrots__table tr td:not(:last-child){
    margin-bottom: 20px;
}
.related__products--item:not(:last-child){
    margin-right: 25px;
}

/* CHECKOUT PAGE */
.checkout{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
.billing__side{
    max-width: 670px;
}
.billing__steps:not(:last-child){
    margin-bottom: 64px;
}
.billing__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.billing__para{
    color:var(--unique-color);
}
.billing__pages{
    margin: 0;
    align-self: flex-end;
    color:var(--unique-color);
}
.billing__info--form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.billing__info--item label{
    display: block;
    font-family: var(--heading-fonts-stack);
    line-height: 18px;
}
.billing__info--item input{
    width: 320px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    background-color: #f9f9f9;
    outline: none;
}
.billing__info--item{
    margin-bottom: 32px;
}
.billing__info--item input[placeholder]{
    padding: 11px 22px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--unique-color);
}
.info__checkbox--wrapper input{
    width: ;
}


.fedex__price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 18px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    background-color: #f9f9f9;
}
.fedex__price:not(:last-child){
    margin-bottom: 16px;
}
.fedex__price p{
    font-family: var(--heading-fonts-stack);
    font-weight: bold;
    margin: 0;
    margin-left: 12px;
}
.company-input{
    display: flex;
    align-items: center;
}
.company-input label{
    margin-left: 20px;
    font-family: var(--heading-fonts-stack);
    font-weight: bold;
}
.company-input input{
    height: 20px;
    width: 20px;
}
.additional__price{
    display: flex;
    align-items: center;
}
.additional__discount{
    font-family: var(--heading-fonts-stack);
    color:var(--btn-color);
    font-weight: 600;
}


.payment__wrapper{
    display: flex;
    flex-direction:column;
    padding: 18px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    margin-bottom: 16px;
}
.payment__method label{
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
}
.payment__method input[type="radio"]{
    width: 20px;
    height: 20px;
}
.visa__payment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.visa__credit{
    display: flex;
    align-items: center;
}
.visa__payment label{ 
    margin-left: 18px;
}
.card-number__label{
    display: block;
}
#card-number{
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 11px 21px;
    outline: none;
    margin-bottom: 32px;
}
.cards-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards-holder input{
    margin-right: 32px;
}
.cards-date{
    margin-right: 16px;
}
.cards-info label{
    display: block;
}
.cards-info input{
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 11px 21px;
    outline: none;
}
.paypal{
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
    margin-bottom: 16px;
}
.paypal__wrapper{
    display: flex;
    align-items: center;
}
.paypal__wrapper label{
    margin-left: 20px;
}
.additional__info label{
    display: block;
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
}
.billing__textarea{
    display: flex;
    flex-direction:column;
}
.additional__info textarea{
    padding: 11px 21px;
    background-color: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    outline: none;
}
.additional__info textarea[placeholder]{
    color:var(--unique-color);
    font-size: 14px;
    line-height: 19px;
}
.conf-agree{
    padding: 11px 18px;
    display: flex;
    align-items: center;
    border: 1px solid #D1D1D1;
    background-color: #F9F9F9;
    border-radius: 12px;
}
.conf-agree:not(:last-child){
    margin-bottom: 16px;
}
.conf-agree input{
    width: 20px;
    height: 20px;
}
.conf-agree label{
    margin-left: 10px;
}
.spam__agree{
    max-width: 80%;
}
.terms__agree{
    max-width: 60%;
    margin-bottom: 32px;
}
.complete__btn{
    padding: 17px 48px;
    background-color: var(--btn-color);
    color: #fff;
    font-family: var(--heading-fonts-stack);
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    border: 2px solid #46760A;
    border-radius: 12px;
    margin-bottom: 34px;
    cursor: pointer;
}
.billing__safety{
    max-width: 213px;
}
.billing__safety::before{
    content:"";
    display: block;
    background: url(/images/form/security.png) no-repeat;
    width: 32px;
    height: 32px;
    margin-bottom: 16px;
}
.billing__safety--description{
    color:var(--unique-color);
}
.form__footer{
    padding: 64px 45px;
    background:#FDFDFD;
}
.form__copyright{
    font-size: 14px;
    line-height: 19px;
}

.summary__side{
    margin-left:  32px;
    width: 468px;
    padding: 32px 16px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    align-self:flex-start;
}
.summary__title{
    font-size: 22px;
    line-height: 33px;
}
.summary__description{
    color: var(--unique-color);
}
.summary__product{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 16px;
    margin-bottom: 32px;
    border-bottom: 1px solid #F9F9F9;
}
.summary__product--image{
    background:#f9f9f9;
    width: 100px;
    height: 67px;
    border-radius: 12px;
}
.summary__features--list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.summary__features--item{
    display: flex;
    align-items: center;
}
.summary__wishlist{
    margin-left: 8px;
}
.summary__flex--wrapper{
    margin-right: 16px;
}
.summary__compare{
    display: flex;
}
.summary__compare::before{
    content: "";
    background: url(/images/fruit/product/compare.png) no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.summary__remove{
    margin-left: 8px;
}
.summary__product--wrapper{
    display: flex;
}
.summary__product--origin{
    margin-right: 14px;
}
.summary__product--origin p{
    color: var(--unique-color);
}
.summary-purchase__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.summary-purchase__cost{
    white-space: nowrap;
}
.summary-purchase__origin--cost{
    margin: 0;
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: var(--btn-color);
    margin-right: 44px;
}
.product__shot{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 32px;
}
.product__shot p,
.product__shot span{
    font-weight: 600;
}
.shot__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.summary__apply{
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
}
.summary__apply--input{
    font-family: var(--heading-fonts-stack);
    background:inherit;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
}
.summary__apply--code{
    background: inherit;
    border: none;
    outline: none;
    padding: 11px 21px;
}
.total__description{
    color: var(--btn-color);
}
.summary__total-amount{
    font-family: var(--heading-fonts-stack);
    font-size: 26px;
    line-height: 39px;
    color: var(--btn-color);
}
.total-order{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Card */
.product-card{
    display: flex;
}
.space{
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 32px;
}
.space__blog{
    margin-bottom: 32px;
}
.space__tag{
    font-family: var(--heading-fonts-stack);
    padding: 0 8px;
    font-weight: 600;
    line-height: 18px;
    background:#F4F8EC;
    color: var(--btn-color);
    border-radius: 12px;
}
.space__text{
    margin-top: 195px;
}
.space__text--wrapper{
    width: 380px;
    position: absolute;
    top: 48px;
    padding: 24px;
    color: #fff;
}
.space__flex--wrapper{
    display: flex;
    align-items: center;
    color: #fff;
}
.space__author{
    margin-left: 8px;
    margin-right: 16px;
}

.left__section{
    max-width: 269px;
    margin-right: 32px;
}
.archives__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 48px;
}
.archives__item a{
    color: var(--btn-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.archives__item:not(:last-child){
    margin-bottom: 12px;
}
.left-category__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 48px;
}
.left-category__item:not(:last-child){
    margin-bottom: 12px;
}
.left-category__item a{
    color:var(--unique-color);
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.left__join--input-wrapper{
    padding: 11px 21px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    display: flex;
}
.left__join input{
    border: none;
    background-color: inherit;
    color: var(--unique-color);
}
.left__join--para{
    font-family: var(--heading-fonts-stack);
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: var(--unique-color);
}
.left__join--btn{
    font-family: var(--heading-fonts-stack);
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    border: none;
    background-color: inherit; 
    white-space: nowrap;
}
.blog__card--list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.blog__card--item{
    max-width: 269px;
    
}
.blog__card--item{
    margin-right: 20px;
    margin-bottom: 32px;
}
.blog-card__text-wrapper{
    margin-top: 24px;
}
.blog__card--title{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-top: 8px;
}
.blog-card__flex-wrapper{
    display: flex;
    align-items: center;
}
.blog-card__author{
    margin-right: 8px;
}



/* SINGLE BLOG */
.single__container{
    max-width: 810px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.single__img{
    background:linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%),
    url(/images/single/single-blog.png) no-repeat;
    max-width: 1170px;
    height: 480px;
    z-index: 99;
    margin: 48px 0;
    
}
.single__title--list{
    font-family: var(--heading-fonts-stack);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-top: 300px;
}
.single__title--item{
    color: #fff;
}
.single__title--item:not(:last-child){
    margin-right: 32px;
}
.single__title--item p:not(:last-child){
    margin-bottom: 12px;
}
.single__title--item a{
    color: #fff;
}
.grey-item p{
    color: var(--description-color);
}
.single__tags-section{
    display: flex;
    margin-bottom: 48px;
}
.single__tags--left{
    margin-right: 32px;
}
.single__title--item-title{
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    max-width: 569px;
}
.single__tags--left-list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.single__tags--left-item{
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
}

.single__tags--left-tags{
    font-family: var(--heading-fonts-stack);
    padding: 4px 10px;
    background-color: #F4F8EC;
    text-decoration: none;
    color: var(--btn-color);
    border-radius: 12px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.single__tags--para{
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    max-width: 569px;
}
.single__back{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.single__back--link{
    font-family: var(--heading-fonts-stack);
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: var(--titles-color);
    text-decoration: none;
    margin-right: 34px;
    display: flex;
    align-self: flex-start;
}
.single__back--text{
    margin-bottom: 48px;
}
.single__back--link::before{
    content: "";
    background: url(/images/single/direction.png) no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.single__back--text{
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
    max-width: 569px;
}
.single__back--social{
    font-family: var(--heading-fonts-stack);
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 48px;
}
.single__back--social-items a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--titles-color);
}
.single__back--social-items a::before{
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.single-pinterest a::before{
    background: url(/images/single/Pinterest.png) no-repeat;
}
.single-twitter a::before{
    background: url(/images/single/Twitter.png) no-repeat;
}
.single-facebook a::before{
    background: url(/images/single/Facebook.png) no-repeat;
}
.single-linkedin a::before{
    background: url(/images/single/icon-linkedin.png) no-repeat;
}
.single__form--para{
    font-weight: normal;
    font-size: 17px;
    line-height: 23px;
}
.single__form--list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 569px;
}
.single__form--item{
    margin-right: 32px;
    margin-bottom: 32px;
}
.single__form--item input{
    padding: 11px 21px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    outline: none;
}
.single__form--item label{
    line-height: 18px;
    font-family: var(--heading-fonts-stack);
    font-weight: 600;
}
.single__form--item textarea{
    padding: 12px;
    width: 435px;
    font-size: 14px;
    line-height: 19px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    outline: none;
}
.block-label{
    display: block;
}
.single-send__btn{
    font-family: var(--heading-fonts-stack);
    padding: 13px 48px;
    background-color: var(--btn-color);
    border-radius: 12px;
    border: 2px solid #46760A;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
}
.single-input__wrap{
    display: flex;
    align-items: center;
}
.single-input__wrap input{
    width: 20px;
    height: 20px;
}
.single-input__wrap label{
    margin-left: 10px;
}
.single__commits{
    display: flex;
    flex-direction: column;
}
.single__commits--title{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    font-family: var(--heading-fonts-stack);
}
.single__comment--text{
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    max-width: 569px;
    margin-bottom: 40px;
}
.single__admin-span{
    font-family: var(--heading-fonts-stack);
    padding: 0 8px;
    background: #F4F8EC;
    border-radius: 12px;
    color: var(--btn-color);
}
.single__comment--admin{
    display: flex;
}
.single__admin-span{
    align-self: flex-start;
}
.single__comment--admin-header time{
    color: #D1D1D1;
}
.single__comment--admin-header{
    position: relative;
    margin-left: 50px;
}
.single__comment--admin-header::before{
    position: absolute;
    content: "";
    background: url(/images/single/singleauthor.svg) no-repeat;
    width: 40px;
    height: 40px;
    left: -50px;
}
.single__comments--para{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.single__customer--text{
    width: 468px;
    align-self: flex-end;
}





@media only screen and (min-width:576px) and (max-width:768px){
    .container{
        max-width: 728px;
    }
    .nav-info__item:not(:last-child){
        margin-right: 20px;
    }
    .nav-page__item:not(:last-child){
        margin-right: 20px;
    }
    .search-section{
        flex-direction: column;
    }
    .site-logo__link{
        margin-bottom: 40px;
    }
    .search-wrapper{
        margin-bottom: 20px;
    }
    .recepies__list{
        justify-content: center;
    }
    .best-products__item{
        margin-bottom: 30px;
    }
    .best-products__item:not(:last-child){
        margin-right: 0;
    }
    .headline__list{
        justify-content: space-between;
    }
    .headline__list .best-products__item:not(:last-child){
        margin-right: 30px;
    }
    .dinner__wrapper{
        margin-bottom: 30px;
    }
    
    .recepies__item:not(:last-child){
        margin-bottom: 30px;
        margin-right: 0;
    }
}

@media only screen and (min-width:768px) and (max-width:900px){
    .search-images-list{
        margin-left: 300px;
        margin-top: 30px;
    }
    .recepies__list{
        justify-content: center;
    }
    .recepies__item:not(:last-child){
        margin-right: 0;
        margin-bottom: 30px;
    }
    .best-products__item:not(:last-child) {
        margin-right: 10px;
    }
    .headline__list{
        justify-content: space-between;
    }
    .headline__list .best-products__item{
        margin-bottom: 30px;
    }
    .blog-sorts{
        justify-content: space-between;
    }
    .dinner__wrapper{
        margin-right: auto;
        margin-bottom: 30px;
    }
    .column-sorts{
        margin-right: 0;
    }
    .product-card{
        flex-wrap: wrap;
    }
    .space{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:575px){
    .container{
        max-width: 535px;
    }
    .site-nav{
        display: flex;
        position: fixed;
        top: 5%;
        z-index: 15;
    }
    .search-section{
        justify-content: center;
        flex-direction: column;
        margin-left: 130px;
    }
    .search-form{
        display: block;
    }
    
    .site-logo__link{
        position: fixed;
        top: 40px;
    }
    .search-select{
        margin-right: 0;
    }
    .search-wrapper{
        margin-top: 70px;
        margin-bottom: 20px;
    }
    .search-images-list{
        padding: 0;
        margin: 0;
    }
    .nav-page__list{
        position: absolute;
        top: 0;
        margin-top: 430px;
        display: flex;
        flex-direction: column;
        left: 10px;
        display: none;
        z-index: 99;
        transition: top 1s ease;
        transition: 0.3s;
    }
    .choose-section__list{
        position: fixed;
        flex-direction: column;
        display: none;
        z-index: 99;
        margin-left: 20px;
    }
    .search-btn{
        position: absolute;
        position: fixed;
        top: 40px;
        right: 40px;
        padding: 0;
    }
    .search-input{
        display: none;
    }
    .search-form input[type="search"]{
        width: 215px;
        padding-left: 0;
    }
    .input-block{
        display: block;
        position: absolute;
        top: 10px;
        right: 400px;
        transform: translateX(400px);
        transition: 0.3s;
    }
    
    .choose-section__item{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .choose-section__item:not(:last-child){
        margin-bottom: 10px;
        margin-right: 0;
    }
    .choose-section__item a{
        white-space: nowrap;
    }
    
    .nav-page__item a{
        white-space: nowrap;
    }
    .nav-info__list{
        display: none;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-right: auto;
        border-bottom: none;
        margin-top: 430px;
        margin-left: 301px;
        transition: top 1s ease;
        transition: 0.3s;
    }
    .open{
        display: block;
    }
    .choose-section__list{
        display: block;
        position: absolute;
        height: 90vh;
        margin-top: 15vh;
        position: fixed;
        padding-left: 32px;
        padding-top: 64px;
        top: 0;
        left: -20px;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
        transform: translateX(-300px);
        transition: 0.3s;
    }
    .burger-btn {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 0;
        right: 50%;
        width: 35px;
        height: 35px;
        margin-top: 0;
        margin-left: 0;
        left: 0;
        color: var(--btn-color);
    }
    .burger-btn .lines {
        display: block;
        width: 100%;
        height: 4px;
        background: var(--btn-color);
        position: relative;
        top: 50%;
        transition: transform 0.5s cubic-bezier(0, 0, 1, 1), background 0.5s ease;
        margin-top: -2px;
    }
    .burger-btn .lines:after,
    .burger-btn .lines:before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--btn-color);
        -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .burger-btn .lines:after {
        bottom: -10px;
    }
    .burger-btn .lines:before {
        top: -10px;
    }
    .burger-btn.active .lines {
        background: transparent;
        transform: rotate(90deg);
    }
    .burger-btn.active .lines:after {
        top: 0;
        transform: rotate(-135deg);
    }
    .burger-btn.active .lines:before {
        top: 0;
        transform: rotate(135deg);
    }
    .active{
        transform: translateX(0px);
        background: rgb(104, 229, 238);
    }
    
    
    .recepies__list{
        justify-content: center;
    }
    .best-products__list{
        justify-content: center;
    }
    .headline__list{
        justify-content: center;
    }
    .best-products__item{
        margin-bottom: 30px;
    }
    .best-products__item:not(:last-child){
        margin-right: 0;
    }
    .best-products__item:first-child{
        margin-right: 40px;
    }
    .recepies__item{
        margin-bottom: 30px;
    }
    .recepies__item:first-child{
        margin-right: 0;
    }
    .recepies__item:not(:last-child){
        margin-right: 0;
    }
    .grid__item:not(:last-child){
        margin-bottom: 32px;
    }
    .dinner-tips__tag{
        margin-bottom: 136px;
    }
    .customers__carousel--list{
        max-width: 90%;
    }
    .blog-sorts{
        justify-content: center;
    }
    .blog-sorts__link{
        margin-bottom: 30px;
    }
    .column-sorts{
        margin-bottom: 30px;
    }
    .purchase__origin--cost{
        margin-right: 20px;
    }
    .purchase__items:not(:last-child){
        margin-right: 20px;
    }
    
    
}

@media only screen and (min-width:320px) and (max-width:465px) {
    .dinner-tips__tag{
        margin-bottom: 50px;
    }
    .dinner-tips__wrapper{
        padding: 10px;
    }
    .carrots__image{
        margin-bottom: 32px;
    }
}

@media only screen and (min-width:576px) and (max-width:630px) {
    .blog-sorts{
        justify-content: center;
    }
    .column-sorts{
        margin-bottom: 30px;
    }
    .dinner-tips__wrapper{
        left: 20px;
    }
}